.wrapper {
    width: 375px;
    cursor: pointer;
    height: 100%;
}


.title {
    color: blue;
    text-decoration: underline;
    text-decoration-color: blue;
    margin-top: 0;
    font-size: 2.25rem;
}

.abstract {
    font-size: 1.75rem;
}

.fakeLink{
    color: green;
    /* text-decoration: underline;
    text-decoration-color: green; */
    margin-bottom: 0;
    font-size: 1.5rem;
}

