.wrapper {
    padding: var(--viewport-padding);

    margin-bottom: 64px;
    border: 1px solid var(--color-card-border);
    width: 700px;
    height: 375px;
    background-color: var(--color-flashcard-background);
    border-radius: 2px;

    /* Red line top of flashcard */
    background-image: linear-gradient(red, red);
    background-position: 0 38px;
    background-size: 100% 1.5px;
    background-repeat: no-repeat;
}

.decoratingWrapper {
    margin-top: 16px;
    margin-left: calc(var(--viewport-padding) * -1);
    margin-right: calc(var(--viewport-padding) * -1);
    height: 100%;
    background-image: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 20px,
        blue 21px,
        blue 21px
    );
}

.content {
    padding: var(--viewport-padding)
}
