.wrapper {
    padding: var(--viewport-padding);
    margin-left: calc(var(--viewport-padding) * -1);
    margin-right: calc(var(--viewport-padding) * -1);
    margin-bottom: 64px;
    border: 1px solid var(--color-card-border);
    /* box-shadow: var(--shadow-med); */
    width: 700px;
    height: 375px;
    background-color: yellow;
    border-radius: 2px;
}
