.wrapper{
    position: relative;
    margin-bottom: 64px; /* review this value? */
    width: 700px; /* review this value? */
    height: 375px; /* review this value? */
    background-color: var(--color-flashcard-background);
    border-radius: 2px;
    box-shadow: var(--shadow-med);
}

.decoratingRedLine {
    position: absolute;
    height: 50px;
    width: 100%;
    border-bottom: 2px solid red;
}

.decoratingBlueLines {
    top: 50px;
    position: absolute;
    height: calc(100% - 50px);
    width: 100%;
    background-image: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 20px,
        blue 21px,
        blue 21px
    );
}

.content {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 2;
    padding: var(--viewport-padding);
    padding-top: 10px;
    color: var(--color-flashcard-text)
}

.cardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap; 
    overflow: hidden; 
}

.title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
    margin: 0;
    font-size: 2.25em;
    margin-right: 1em;
}

.cardHeader time {
    margin-top: 9px;
    font-size: 1.8em;
    font-weight: bold;
    color: brown
}

.cardBody{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    line-height: 1.475;
}

.cardAbstract {
    font-size: 1.75em;
}

.cardFooter{
    font-size: 1.75em;
}