.wrapper {
    background: var(--color-postit-background);
    display: block;
    height: 20em;
    width: 20em;
    padding: 1em;
    padding-top: 0;
    rotate: 2deg;
    color: black;
    font-family: var(--font-family-hand);
    display: flex;
    flex-direction: column;  
    box-shadow: var(--shadow-med);
  }

  