.wrapper {
    background: #ffc;
    display: block;
    height: 20em;
    width: 20em;
    padding: 1em;
    rotate: 2deg;
    color: black;
    font-family: var(--font-family-hand);
    display: flex;
    flex-direction: column;
  }

  