/* CSS reset https://www.joshwcomeau.com/css/custom-css-reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  scrollbar-gutter: stable;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* grid paper background */
body {
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    background-color: white;
    background-image: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 24px,
        hsl(0, 0%, 88%) 26px,
        hsl(0, 0%, 88%) 26px
    ),
    repeating-linear-gradient(
        to right,
        transparent,
        transparent 24px,
        hsl(0, 0%, 88%) 26px,
        hsl(0, 0%, 88%) 26px
      );
}
