.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: var(--content-width);
    padding: 64px var(--viewport-padding);
    margin: 0 auto;
    font-family: var(--font-family-hand);
}

.wrapper h2 {
  font-size: 2.25em;
}