.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: fit-content;
  width: 100%;
  max-width: var(--content-width);
  padding: 0 var(--viewport-padding);
  margin-left: auto;
  margin-right: auto;
}


.header {
  margin-top: 0.5em;
  font-size: 2.25em;
  text-align: center;
}

.linkList {
  list-style-type: none;
  font-size: 1.75em;
}

@media (min-width: 35rem) {
  .wrapper {
    padding-bottom: 64px;
    text-align: revert;
  }

  .content {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 32px;
  }
}
