.wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  
  .sheet {
    background-color: bisque;  /*temp*/
    border-left: 2px dashed black; /*temp*/
    border-right: 2px dashed black; /*temp*/
    padding: 0 1rem;
}

.rightStrip,
.leftStrip {
  flex: 0 0 auto;
  width: 10px; /* Set a width for the strips */
  overflow: hidden; /* Hide any content that might be within */
}

.rightStrip {
  border-left: 44px solid bisque;
}

.leftStrip {
  border-right: 44px solid bisque;
}