.wrapper {
    border-radius: 0px !important;
    margin: 0px 0px 64px 0px !important;
    box-shadow: var(--shadow-med);
  }
  .wrapper pre {
    padding: var(--viewport-padding) !important;
  }
  .wrapper code {
    font-family: var(--font-family-code);
  }
  .wrapper code > div {
    font-size: 1.125rem;
    padding: 0px !important;
  }
  
  @media (min-width: 56rem) {
    .wrapper {
      border-radius: 8px !important;
    }
  }